.account-box {
    // height: 336px;
    padding: 13px;
    border: 1px solid #e5e5e5;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
}

.icon-container {
    float: right;

    i {
        margin-left: 10px;
        font-size: 24px;
    }
}

.card_number,
.card_cvc {
    display: block;
    position: relative;
    float: left;
    width: 100%;

    label {
        margin-top: 15px;
    }
}

.card_cvc {
    .half-width {
        &:first-child {
            width: 48%;
            float: left;
        }

        &:last-child {
            width: 48%;
            margin-left: 4%;
            float: left;
        }
    }
}

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    background-color: white;
    box-shadow: none;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

@media(max-width: 575px) {
    .card_cvc {
        .half-width {
            width: 100% !important;
            margin: 0 !important;
        }
    }
}