<div class="checkout">
    <banner [title]="'Checkout'"></banner>
    <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
    <div class="container p-t-100 p-b-45">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-heading" *ngIf="!userDataFlag">
                    <a href="/account">Returning customer? Click here to login</a>
                </div>
                <div class="checkout-heading">
                    <a href="#">Have a coupon? Click here to enter your code</a>
                </div>
            </div>
            <div class="col-md-6" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                <div class="au-form-body p-b-0">
                    <custom-label [label]="'Billing Details'" [className]="'cart-border'"></custom-label>
                    <form #checkoutForm="ngForm" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <input-field type="text" label="First Name" labelAfter="true" [(ngModel)]="billing.firstName"
                                    name="firstName" placeHolder="" bottom="24" required #firstname="ngModel">
                                    <span *ngIf="isSubmitted">
                                        <err-required [isValid]="firstname.value" message="
                                            First name is required"></err-required>
                                    </span>

                                </input-field>
                            </div>
                            <div class="col-sm-6">
                                <input-field type="txt" label="Last Name" labelAfter="true" [(ngModel)]="billing.lastName"
                                    name="lastName" placeHolder="" bottom="24" required #lastname="ngModel">
                                    <span *ngIf="isSubmitted">
                                        <err-required [isValid]="lastname.value" message="
                                            Last name is required"></err-required>
                                    </span>
                                </input-field>
                            </div>
                        </div>
                        <input-field type="text" label="Company Name" [(ngModel)]="billing.company" name="company"
                            placeHolder="" bottom="24">
                        </input-field>
                        <!-- <div class='address-class'> -->
                        <div class="form-group custom-input m-b-24">
                            <label class="label-after">{{'Address' | translate}}</label>
                            <input type="text" placeholder="{{'Street address' | translate}}" #search [(ngModel)]="billing.address"
                                name="address" class="form-control" required #address="ngModel">
                            <span *ngIf="isSubmitted">
                                <err-required [isValid]="address.value" message="
                                       Address is required"></err-required>
                            </span>
                        </div>
                        <!-- <input-field type="text" label="Address" #search labelAfter="true" [(ngModel)]="billing.address" name="address"
                            #address="ngModel" placeHolder="Street address" required bottom="24" /> -->
                        <!-- </input-field>  -->
                        <!-- </div> -->

                        <!-- <input-field type="
                                text" label="" [(ngModel)]="checkout.address1" name="address1" placeHolder="Apartment, suite, unit etc. (optional)"
                                bottom="24"> -->
                        <!-- </input-field> -->
                        <input-field type="text" label="Town/City" [(ngModel)]="billing.city" name="city" placeHolder=""
                            labelAfter="true" bottom="24" required #city="ngModel">
                            <span *ngIf="isSubmitted">
                                <err-required [isValid]="city.value" message="
                                       City is required"></err-required>
                            </span>
                        </input-field>
                        <custom-select label="Country" labelAfter="true" bottom="24" [(ngModel)]="billing.country" name="country"
                            [options]="countryData" [config]="selectConfig" required (change)="onBillingCountrySelect($event)"
                            #country="ngModel">
                            <span *ngIf="isSubmitted">
                                <err-required [isValid]="country.value" message="
                                       Country field is required"></err-required>
                            </span>
                        </custom-select>

                        <div class="row">
                            <div class="col-sm-6" *ngIf="stateData.length > 0">
                                <custom-select label="State" labelAfter="true" bottom="24" [(ngModel)]="billing.stateProvince"
                                    name="stateProvince" [options]="stateData" [config]="selectConfig" (change)="onBillingStateSelect($event)"
                                    required #state="ngModel">
                                    <span *ngIf="isSubmitted">
                                        <err-required [isValid]="state.value" message="
                                               State is required"></err-required>
                                    </span>
                                </custom-select>
                            </div>
                            <div class="col-sm-6" *ngIf="stateData.length == 0">
                                <input-field type="text" label="State" labelAfter="true" placeHolder="Enter State"
                                    [(ngModel)]="billing.stateProvince" name="stateProvince" required #state="ngModel">
                                    <span *ngIf="isSubmitted">
                                        <err-required [isValid]="state.value" message="
                                               State is required"></err-required>
                                    </span>
                                </input-field>
                            </div>
                            <div class="col-sm-6">
                                <input-field type="text" label="Postcode / Zip" [(ngModel)]="billing.postalCode" name="postalCode"
                                    placeHolder="" labelAfter="true" bottom="24" (onInputChange)="onShippingChange()"
                                    [readonly]="billing.stateProvince == ''" required #postalcode="ngModel">
                                    <span *ngIf="isSubmitted">
                                        <err-required [isValid]="postalcode.value" message="
                                               Postal code  is required"></err-required>
                                    </span>
                                </input-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input-field type="text" label="Phone" labelAfter="true" [(ngModel)]="billing.phone"
                                    name="phone" placeHolder="" bottom="24" (onInputChange)="onPhoneChange()" minLength="10"
                                    maxLength="10" #phone="ngModel" required>
                                    <err-required message="Enter a 10-digit number" [isValid]="phone.valid || (phone.pristine)"></err-required>
                                    <span *ngIf="isSubmitted">
                                        <err-required [isValid]="phone.value" message="
                                               Phone number  is required"></err-required>
                                    </span>
                                </input-field>
                            </div>
                            <div class="col-sm-6">
                                <input-field type="text" label="Email Address" labelAfter="true" [(ngModel)]="billing.email"
                                    name="email" placeHolder="" bottom="24" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]{2,}[.][a-zA-Z0-9-.]{2,}"
                                    #email="ngModel" required>
                                    <err-required message="Valid email required " [isValid]="email.valid || (email.pristine)"></err-required>
                                    <span *ngIf="isSubmitted">
                                        <err-required [isValid]="email.value" message="
                                               Email address is required"></err-required>
                                    </span>
                                </input-field>
                            </div>
                        </div>
                        <div class="account-create" *ngIf="!userDataFlag">
                            <custom-checkbox [label]="'Create an account'" (onChange)="onCreateAccount()"></custom-checkbox>
                        </div>
                        <div *ngIf="isAccount">
                            <a class="pass-info">Create an account by entering the information below. If you
                                are a
                                returning customer
                                please login using the link at the top of the page.</a>
                            <input-field type="password" label="Account password" labelAfter="true" [(ngModel)]="password"
                                name="password" placeHolder="" bottom="30" required>
                                <!-- <err-required message="Valid email required " [isValid]="phone.valid || (phone.pristine)"></err-required> -->
                            </input-field>
                        </div>
                    </form>
                </div>
                <div class="is-shipping">
                    <custom-checkbox [label]="'SHIP TO A DIFFERENT ADDRESS?'" (onChange)="onShipDiffrent($event)">
                    </custom-checkbox>
                </div>
                <div [ngClass]="isShipping ? 'au-form-body p-b-0 open' : 'au-form-body p-b-0' " *ngIf="isShipping">
                    <!-- <custom-label [label]="'Shipping Details'" [className]="'cart-border'"></custom-label> -->
                    <!-- <div class="account-create">
                        <custom-checkbox [label]="'Same as Billing Details'" (onChange)="onSameBillingAddress($event)">
                        </custom-checkbox>
                    </div> -->
                    <form #checkoutForm="ngForm" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <input-field type="text" label="Shipping First Name" labelAfter="true" [(ngModel)]="shipping.firstName"
                                    name="firstName" placeHolder="" bottom="24" required #shippingFirstName="ngModel">
                                    <span *ngIf="isShippingSubmitted">
                                        <err-required [isValid]="shippingFirstName.value" message="
                                            Shipping First name is required"></err-required>
                                    </span>
                                </input-field>
                            </div>
                            <div class="col-sm-6">
                                <input-field type="txt" label="Shipping Last Name" labelAfter="true" [(ngModel)]="shipping.lastName"
                                    name="lastName" placeHolder="" bottom="24" required #shippingLastName="ngModel">
                                    <span *ngIf="isShippingSubmitted">
                                        <err-required [isValid]="shippingLastName.value" message="
                                            Shipping Last name is required"></err-required>
                                    </span>
                                </input-field>
                            </div>
                        </div>
                        <input-field type="text" label="Shipping Company Name" [(ngModel)]="shipping.company" name="company"
                            placeHolder="" bottom="24">
                        </input-field>
                        <div class="form-group custom-input m-b-24">
                            <label class="label-after">{{'Address' | translate}}</label>
                            <input type="text" placeholder="{{'Street address' | translate}}" #search [(ngModel)]="shipping.address"
                                name="address" class="form-control" required #shippingAddress="ngModel">
                            <span *ngIf="isShippingSubmitted">
                                <err-required [isValid]="shippingAddress.value" message="
                                        Shipping Address is required"></err-required>
                            </span>
                        </div>
                        <!-- <div class='address-class'>
                            <input-field type="text" label="Shipping Address" labelAfter="true" [(ngModel)]="shipping.address"
                                name="address" placeHolder="Shipping Street address" required>
                            </input-field>
                        </div> -->

                        <!-- <input-field type="text" label="" [(ngModel)]="shipping.address1" name="address1" placeHolder="Apartment, suite, unit etc. (optional)"
                            bottom="24"> -->
                        <!-- </input-field> -->
                        <input-field type="text" label="Shipping Town/City" [(ngModel)]="shipping.city" name="city"
                            placeHolder="" labelAfter="true" bottom="24" required #shippingCity="ngModel">
                            <span *ngIf="isShippingSubmitted">
                                <err-required [isValid]="shippingCity.value" message="
                                    Shipping City is required"></err-required>
                            </span>
                        </input-field>
                        <custom-select label="Shipping Country" labelAfter="true" bottom="24" [(ngModel)]="shipping.country"
                            name="country" [options]="shippingCountryData" [config]="selectConfig" required (change)="onShippingCountrySelect($event)"
                            #shippingCountry="ngModel">
                            <span *ngIf="isShippingSubmitted">
                                <err-required [isValid]="shippingCountry.value" message="
                                    Shipping Country is required"></err-required>
                            </span>
                        </custom-select>

                        <div class="row">
                            <div class="col-sm-6" *ngIf="shippingStateData.length > 0">
                                <custom-select label="Shipping State" labelAfter="true" bottom="24" [(ngModel)]="shipping.stateProvince"
                                    name="stateProvince" [options]="shippingStateData" [config]="selectConfig" (change)="onShippingStateSelect($event)"
                                    required #shippingState="ngModel">
                                    <span *ngIf="isShippingSubmitted">
                                        <err-required [isValid]="shippingState.value" message="
                                            Shipping State is required"></err-required>
                                    </span>
                                </custom-select>
                            </div>
                            <div class="col-sm-6" *ngIf="shippingStateData.length == 0">
                                <input-field type="text" labelAfter="true" placeHolder="Enter State" label="State"
                                    [(ngModel)]="shipping.stateProvince" name="stateProvince" required #shippingState="ngModel">
                                    <span *ngIf="isShippingSubmitted">
                                        <err-required [isValid]="shippingState.value" message="
                                            Shipping State is required"></err-required>
                                    </span>
                                </input-field>
                            </div>
                            <!-- <div class="col-sm-6">
                                <custom-select label="Shipping State" labelAfter="true" bottom="24" [(ngModel)]="shipping.stateProvince"
                                    name="stateProvince" [options]="shippingStateData" [config]="selectConfig" (change)="onShippingStateSelect($event)"
                                    required>
                                </custom-select>
                            </div> -->
                            <div class="col-sm-6">
                                <input-field type="text" label="Shipping Postcode / Zip" [(ngModel)]="shipping.postalCode"
                                    name="postalCode" placeHolder="" labelAfter="true" (onInputChange)="onShippingChange()"
                                    bottom="24" required #shippingPostalCode="ngModel">
                                    <span *ngIf="isShippingSubmitted">
                                        <err-required [isValid]="shippingPostalCode.value" message="
                                            Shipping Postal code is required"></err-required>
                                    </span>
                                </input-field>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-6">
                                <input-field type="text" label="Shipping Phone" labelAfter="true" [(ngModel)]="shipping.phone"
                                    name="phone" placeHolder="" bottom="24" #phone="ngModel" pattern="[0-9]+" minlength="10"
                                    maxlength="10" required>
                                    <err-required message="Enter a 10-digit number" [isValid]="phone.valid || (phone.pristine)"></err-required>

                                </input-field>
                            </div>
                            <div class="col-sm-6">
                                <input-field type="text" label="Shipping Email Address" labelAfter="true" [(ngModel)]="shipping.email"
                                    name="email" placeHolder="" bottom="24" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]{2,}[.][a-zA-Z0-9-.]{2,}"
                                    required>
                                    <err-required message="Valid email required " [isValid]="phone.valid || (phone.pristine)"></err-required>
                                </input-field>
                            </div>
                        </div> -->


                    </form>
                </div>

                <div class="au-form-body">
                    <custom-label [label]="'Additional Information'" [className]="'cart-border'"></custom-label>
                    <custom-textarea label="Order notes" [(ngModel)]="note" name="note" placeHolder="">
                    </custom-textarea>
                </div>

            </div>
            <div class="col-md-6" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                <div class="au-form-body">
                    <custom-label [label]="'Your order'" [className]="'cart-border'"></custom-label>
                    <!-- <h2 class="au-form-title form-title-border m-b-37">YOUR ORDER</h2> -->
                    <table class="checkout-bill" *ngIf="summeryOrder">
                        <tbody>
                            <tr>
                                <th>{{ 'product' | translate}}</th>
                                <th>{{ 'total' | translate}}</th>
                            </tr>
                            <tr *ngFor="let result of cartData.products">
                                <td class="summery-item">{{result.description.name}} <b>*
                                        {{result.quantity}}</b></td>
                                <td>${{result.price * result.quantity}}</td>
                            </tr>
                            <tr *ngFor="let total of summeryOrder.totals" [ngClass]="total.title != 'Total' ? '' : 'total-show'">
                                <td *ngIf="total.title != 'Total'">{{total.title}}</td>
                                <td *ngIf="total.title != 'Total'">{{total.total}}</td>
                            </tr>
                            <tr *ngIf="shippingData && config.displayShipping" class="shipping-data">
                                <td class="shipping-key">Shipping Fees</td>
                                <td class="shipping">
                                    <div class="shipping-note">
                                        A Shipping quote will be available after filling the postal code
                                    </div>
                                    <div class="shipping-option">
                                        <span *ngFor="let shipping of shippingData.shippingOptions">
                                            <input type="radio" name="gender" value="shipping.shippingQuoteOptionId"
                                                (change)="shippingQuoteChange(shipping)" checked><label>{{shipping.optionName}}
                                                :
                                                ${{shipping.optionPrice}}</label>
                                        </span>
                                    </div>
                                    <div class="shipping-descripton">
                                        This option let you reserve you order items through the online system and pick
                                        up your order by yourself at the store. this option is also offered when no
                                        other shipping option is available for your region.
                                    </div>


                                </td>
                            </tr>
                            <tr *ngIf="!shippingData && config.displayShipping" class="shipping-data">
                                <td class="shipping-key">Shipping Fees</td>
                                <td class="shipping">
                                    <div class="shipping-option">
                                        <span>
                                            Free Shipping!
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="total">
                                <td>Total</td>
                                <td>{{summeryOrder.total}}</td>
                            </tr>
                        </tbody>

                    </table>
                    <fieldset class="m-t-40" class="account-box">
                        <form>
                            <!-- <stripe (onNumberChange)="onChangeNumber($event)"></stripe> -->
                            <div class="card_number">
                                <div class="field">
                                    <label for="example2-card-number" data-tid="elements_examples.form.card_number_label">Card
                                        number</label>
                                    <div #cardNumberElement class="input empty"></div>
                                    <err-required message="{{cardNumberErrors}}"></err-required>
                                    <div class="baseline"></div>
                                </div>
                            </div>

                            <div class=" card_cvc">
                                <div class="field half-width">
                                    <label for="example2-card-expiry" data-tid="elements_examples.form.card_expiry_label">Expiration</label>
                                    <div #cardExpiryElement class="input empty"></div>
                                    <err-required message="{{cardExpiryErrors}}"></err-required>
                                </div>
                                <div class="field half-width">
                                    <label for="example2-card-cvc" data-tid="elements_examples.form.card_cvc_label">CVC</label>
                                    <div #cardCvcElement class="input empty"></div>
                                    <err-required message="{{cardCvcErrors}}"></err-required>
                                </div>
                            </div>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>


                        </form>
                    </fieldset>
                    <div class="m-t-40 is-shipping">
                        <custom-checkbox [label]="'I agree with the terms and conditions'" (onChange)="termCondition()"></custom-checkbox>
                    </div>
                    <err-required [isValid]="isCondition" message="{{errMessage}}"></err-required>

                    <btn [text]="'Submit Order'" class="process-button m-t-50 float-right" (onClick)="onPayment()"></btn>
                </div>

            </div>
        </div>
    </div>
</div>