.checkout {
    .container {
        .col-md-6 {
            padding-right: 15px;
            padding-left: 15px;
            height: 700px;
        }
    }

    .custom-input {
        width: 100%;

        input {
            width: 100%;
            height: 42px;
            border: 1px solid #e5e5e5;
            padding: 0 20px;
            color: #999;
            font-size: 13px;
            border-radius: 0;
        }

        .label-after {
            &:after {
                content: '*';
                color: #ff6666;
                margin-left: 5px;
            }
        }
    }

    .address-class {
        margin-bottom: -15px;
    }

    .account-create {
        margin-bottom: 24px;
    }

    // .checkout-bill {


    .total-show {
        display: none;
    }

    .is-shipping {
        font-size: 22px;
    }

    .pass-info {
        color: #e4c7a2;
        font-size: 14px;
    }

    .summery-item {
        width: 69%
    }

    .shipping-key {
        width: 36%;
    }

    .shipping {
        float: right;
        width: 88%;
        padding: 12px;



        .shipping-note {
            font-size: 16px;
            line-height: 1.2em;
            text-transform: none;
            text-align: center;
            color: #e4c7a2;
            margin-bottom: 40px;

        }

        .shipping-option {
            text-align: center;
            font-size: 15px;
            line-height: 42px;

            label {
                font-size: 14px;
                word-break: break-word;
                float: left;
                // font-weight: 300;
                width: 260px;
                padding: 0 0 30px 10px;
                margin: 0;
                line-height: 24px;
                margin-top: -6px;
                text-align: left;
                text-transform: none;
            }

            input {
                float: left;
            }
        }

        .shipping-descripton {
            font-size: 12px;
            line-height: 1.2em;
            font-weight: 300;
            text-transform: none;
            text-align: center;
            margin-top: 20px;
        }
    }

    .account-box {
        // height: 336px;
        padding: 13px;
        border: 1px solid #e5e5e5;
        width: 100%;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
    }

    .icon-container {
        float: right;

        i {
            margin-left: 10px;
            font-size: 24px;
        }
    }

    .card_number,
    .card_cvc {
        display: block;
        position: relative;
        float: left;
        width: 100%;

        label {
            margin-top: 15px;
        }
    }

    .card_cvc {
        .half-width {
            &:first-child {
                width: 48%;
                float: left;
            }

            &:last-child {
                width: 48%;
                margin-left: 4%;
                float: left;
            }
        }
    }

    .StripeElement {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid #e5e5e5;
        border-radius: 0;
        background-color: white;
        box-shadow: none;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    @media(max-width: 575px) {
        .card_cvc {
            .half-width {
                width: 100% !important;
                margin: 0 !important;
            }
        }
    }

    // }



    .au-form-body {
        .process-button {
            padding: 0px;
        }

        .checkout-payment {
            /deep/ custom-label {
                .label-heading {
                    h3 {
                        font-size: 18px;
                        color: #666;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    }
                }
            }

            .simple-text {
                color: #999;
                font-size: 14px;
            }
        }

        .checkout-paypal {
            /deep/ custom-label {
                .label-heading {
                    h3 {
                        padding-top: 50%;
                        font-size: 18px;
                        color: #666;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}