.checkout {
    .container {
        .col-md-6 {
            padding-right: 15px;
            padding-left: 15px;
            height: 700px;
            overflow: scroll;
        }
    }

    .address-class {
        margin-bottom: -15px;
    }

    .account-create {
        margin-bottom: 24px;
    }

    .au-form-body {
        .process-button {
            padding: 0px;
        }

        .checkout-payment {
            /deep/ custom-label {
                .label-heading {
                    h3 {
                        font-size: 18px;
                        color: #666;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    }
                }
            }

            .simple-text {
                color: #999;
                font-size: 14px;
            }
        }

        .checkout-paypal {
            /deep/ custom-label {
                .label-heading {
                    h3 {
                        padding-top: 50%;
                        font-size: 18px;
                        color: #666;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}