.checkout {
    .address-class {
        margin-bottom: -15px;
    }

    .account-create {
        margin-bottom: 24px;
    }

    .au-form-body {
        .process-button {
            padding: 0px;

        }

        .checkout-payment {
            color: #666 !important;
        }

        .checkout-paypal {
            label {
                font-size: 18px;
                color: #666;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }


    }
}