<div class="checkout">
    <banner [title]="'checkout'"></banner>

    <div class="container p-t-100 p-b-45">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-heading">
                    <a href="#">Returning customer? Click here to login</a>
                </div>
                <div class="checkout-heading">
                    <a href="#">Have a coupon? Click here to enter your code</a>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>