<div class="container-fuild">
  <div class="coming-soon">
    <div class="coming-time">
      <div class="coming-time-body">
        <div class="logo">
          <span *ngIf="merchant.logo == null">{{merchant.name}}</span>
          <a href="" *ngIf="merchant.logo != null">
            <custom-img [src]="merchant.logo.path" [alt]="'Logo'">
            </custom-img>
          </a>
        </div>
        <h2 class="coming-time-title m-t-85 m-b-20">404 ERROR</h2>
        <p class="m-b-35">The page you’re looking for not found!</p>
        <a href="/home" class="coming-button">back to home</a>
        <!-- <btn [text]="'back to home'" [className]="'gold'"></btn> -->
      </div>
    </div>
    <div class="coming-image">
      <!-- <img src="../../assets/images/error404.jpg" alt="Lyrae"> -->
      <custom-img [src]="'../../assets/images/error404.jpg'" [alt]="'Lyrae'" class="img"></custom-img>
    </div>
  </div>
</div>