<div class="container-fuild">
  <div class="coming-soon">
    <div class="coming-time">
      <div class="coming-time-body">
        <div class="logo">
          <a routerLink="/" *ngIf="!merchant.logo"><span>>{{merchant.name}}</span></a>
          <a routerLink="/" *ngIf="merchant.logo">
            <custom-img [src]="merchant.logo.path" [alt]="'Logo'">
            </custom-img>
          </a>
        </div>
        <h2 class="coming-time-title m-t-85 m-b-20">404 ERROR</h2>
        <p class="m-b-35">Không tìm thấy | NOT FOUND</p>
        <a routerLink="/" class="coming-button">Quay trở về | Back to home</a>
        <!-- <btn [text]="'back to home'" [className]="'gold'"></btn> -->
      </div>
    </div>
    <div class="coming-image">
      <!-- <img src="../../assets/images/error404.jpg" alt="Lyrae"> -->
      <custom-img [src]="'../../assets/images/error404.jpg'" [alt]="'Lyrae'" class="img"></custom-img>
    </div>
  </div>
</div>