<banner [title]="'Shop'"></banner>
<div class="container p-b-90 p-t-100 own-grid">
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="product-detail" *ngIf="productDetail">
        <div class="shop-product p-t-25">
          <div class="slide100-01" id="slide100-01" *ngIf="galleryImages.length > 0">
            <img-slider [galleryImages]="galleryImages"></img-slider>
          </div>
          <div class="product-body">
            <div class="first">
              <h3 class="name">{{productDetail.description.name}}</h3>
              <!-- <p class="price">{{productDetail.finalPrice}}</p> -->
              <p class="price"><span [ngClass]="productDetail.discounted ? 'discount-price' : ''">{{productDetail.originalPrice}}</span><span
                  *ngIf="productDetail.discounted" class="original-price">{{productDetail.finalPrice}}</span></p>

            </div>
            <div class="color-choose" *ngIf="productDetail.options">
              <div *ngFor="let option of productDetail.options; let i = index">
                <div *ngIf="option.code == 'COLOR'">
                  <div *ngFor=" let color of option.optionValues ; let j=index">
                    <input type="radio" id="red_{{color.id}}" name="color" value="{{color.name}}" [checked]="color.defaultValue"
                      (change)="handleChange($event, color, productDetail.id, option)">
                    <label for="red_{{color.id}}"><span [style.background-color]="color.name"></span></label>
                  </div>
                </div>
              </div>
            </div>
            <p class="description" [innerHTML]="productDetail.description.description">
              {{productDetail.description.description}}</p>
            <div class="product-button">
              <div class="quantity">
                <span class="sub">
                  <i class="icon-down" (click)="qtyUpdate(0)"></i>
                </span>
                <div class="quantity-input">
                  <input type="number" value="{{qty}}">
                </div>
                <span class="add">
                  <i class="icon-up" (click)="qtyUpdate(1)"></i>
                </span>
              </div>
              <div class="cart-btn">
                <btn [text]="'Add to cart'" (onClick)="addToCart(productDetail)"></btn>
              </div>
              <div class="product-favourite">
                <input type="checkbox" class="red-heart-checkbox">
                <div class="icon-heart"></div>
              </div>
            </div>
            <div class="product-available">
              <span>Available : </span>
              <a> {{productDetail.available ? 'In stock' : 'Not in stock'}} <b>({{productDetail.quantity}})</b></a>
            </div>
            <div class="product-sku">
              <span class="text-black">SKU: </span>
              {{productDetail.sku}}
            </div>
            <div class="product-categories">
              <span class="text-black">Categories: </span>
              <a *ngFor="let result of productDetail.categories ; let i = index">{{result.description.description}}</a>
            </div>
            <div class="product-share">
              <span class="text-black">Share: </span>

              <span class="icon-facebook icon"></span>
              <span class="icon-instagram icon"></span>
              <span class="icon-pinterest icon"></span>

            </div>
            <div class="size-choose" *ngIf="productDetail.options">
              <div *ngFor="let option of productDetail.options; let i = index">
                <div *ngIf="option.code == 'SIZE'" class="custom-selectbox">
                  <custom-select bottom="24" [(ngModel)]="selectedSize" name="selectedSize" [options]="option.optionValues"
                    [config]="config" (change)="onChangeSize($event)">
                  </custom-select>
                </div>
              </div>
            </div>
            <div class="product-rating" data-star="5">
              <ngb-rating [rate]="productDetail.rating"></ngb-rating>
            </div>
          </div>

        </div>
        <div class="au-tabs">
          <ngb-tabset [justify]="currentJustify" class="tabset">
            <ngb-tab title="Description">
              <ng-template ngbTabContent>
                <p class="tab-paragraph" [innerHTML]="productDetail.description.description">
                  {{productDetail.description.description}}</p>

              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>additional information</ng-template>
              <ng-template ngbTabContent>
                <table class="product-additionnal">
                  <tr>
                    <th>Weight</th>
                    <td>{{productDetail.productSpecifications.weight}} kg</td>
                  </tr>
                  <tr>
                    <th>Dimensions</th>
                    <td>{{productDetail.productSpecifications.length}} x {{productDetail.productSpecifications.weight}}
                      x {{productDetail.productSpecifications.height}} cm</td>
                  </tr>
                </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="review ({{productDetail.ratingCount}})">
              <ng-template ngbTabContent>
                <div class="review">
                  <h5 class="title">REVIEWS</h5>
                  <div class="review-outer">
                    <div class="review-inner">
                      <p *ngIf="reviews.length == 0">There are no reviews yet.</p>
                      <div *ngIf="reviews.length > 0">
                        <div class="single-review" *ngFor="let review of reviews">
                          <div class="au-rating" data-star="4">
                            <ngb-rating [rate]="review.rating" required></ngb-rating>
                          </div>
                          <div class="review-div">
                            <div class="review-inside">
                              <p class="review-text">
                                {{review.description}}</p>

                            </div>
                            <p class="review-date">-- {{review.customer.firstName}} {{review.customer.lastName}}
                              {{review.date}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <p class="text-bigger" *ngIf="reviews.length == 0">Be the first to review
                    “{{productDetail.description.name}}”</p>

                  <div *ngIf="!auth">
                    <p class="text-bigger">Please <a href="/account"><u>signin</u></a> for writing a new review</p>
                  </div>

                  <div class="comment-place" *ngIf="auth">
                    <form #reviewForm="ngForm" role="form">
                      <div class="comment-rating" *ngIf="auth">
                        <strong>Your Rating </strong>

                        <!-- <div class="au-rating" data-star="4"> -->
                        <app-rating [rating]="review.rate" (ratingClick)='ratingComponentClick($event)'></app-rating>
                        <!-- </div> -->

                      </div>
                      <div class="row">
                        <div class="col-md-12 plr-15">
                          <custom-textarea placeHolder="Your Message" [(ngModel)]="review.description" [row]="6" name="description"
                            required></custom-textarea>
                        </div>
                        <!-- <div class="col-md-6 plr-15">
                          <input-field type="text" name="ng-template" placeHolder="Your Name">
                          </input-field>
                        </div>
                        <div class="col-md-6 plr-15">
                          <input-field type="text" name="email" placeHolder="Your Email">
                          </input-field>
                        </div> -->
                        <div class="col-md-12 m-t-40">
                          <btn [text]="'Submit'" (onClick)="onSubmitReview(productDetail.id)" [isDisabled]="!reviewForm.form.valid || review.rate == 0"></btn>
                        </div>
                      </div>
                    </form>
                  </div>


                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>

        <div class="port-title justify-content-center text-center">
          <h2 class="title">related products</h2>
          <div class="title-border mx-auto m-b-70"></div>
        </div>
        <div class="related-products">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <product-grid [Large]="'4'" [productData]="reletedProduct" (onClickCart)="addToCart($event)"
                (onClickDetail)="goToDetailsPage($event)"></product-grid>
            </ng-template>
          </owl-carousel-o>

        </div>
      </div>
    </div>
    <!-- <div class="col-md-3 col-sm-12">
      <div class="search">
        <custom-label [label]="'search'" [className]="'cart-border'"></custom-label>
        <input-field [type]="'text'" [bottom]="'40'"></input-field><span class="icon-search"></span>
      </div>
      <div class="filter">
        <custom-label [label]="'Filter by price'" [className]="'cart-border'"></custom-label>
        <div class="custom-slider">
          <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
          <div class="filter-range-value">
            <span>Filter:</span>
            <span id="filter-price-value-lower"> ${{minValue}}</span>
            <span> - </span>
            <span id="filter-price-value-upper">${{maxValue}}</span>
            <btn [text]="'filter'"></btn>
          </div>
        </div>
      </div>
      <div class="categories-list">
        <custom-label [label]="'categories'" [className]="'cart-border'"></custom-label>
        <categories [data]="categoriesData"></categories>
      </div>
      <div class="shop-color">
        <custom-label [label]="'shop by color'" [className]="'cart-border'"></custom-label>
        <shop-color [data]="colorData"></shop-color>
      </div>
      <div class="shop-size">
        <custom-label [label]="'shop by size'" [className]="'cart-border'"></custom-label>
        <categories [data]="sizeData"></categories>
      </div>
      <div class="best-seller">
        <custom-label [label]="'best seller'" [className]="'cart-border'"></custom-label>
        <best-seller [data]="sellerData"></best-seller>
      </div>

    </div> -->
  </div>
</div>