.container {
    .row {

        .col-md-12 {
            .shop-product {
                .slide100-01 {
                    z-index: 0;
                }

                .product-body {
                    padding: 29px 0 10px 30px;
                    overflow: hidden;
                    position: relative;

                    .name {
                        color: #666;
                        font-size: 19px;
                        text-transform: uppercase;
                        margin-bottom: 5px;

                        &:hover {
                            color: #e4c7a2;
                        }
                    }

                    .price {
                        font-size: 18px;
                        font-weight: 500;
                        color: #333;

                        .discount-price {
                            text-decoration: line-through;
                        }

                        .original-price {
                            margin-left: 10px;
                            color: red;
                        }
                    }

                    .first {
                        .product-rating {
                            width: 32%;
                            padding-right: 45px;
                            display: inline-block;
                            //top: 11px;
                        }
                    }

                    .size-choose {
                        margin-top: 22px;
                    }

                    .custom-selectbox {
                        width: 38%
                    }

                    .color-choose {
                        div {
                            display: inline-block;
                        }

                        input[type="radio"] {
                            display: none;

                            +label span {
                                display: inline-block;
                                width: 35px;
                                height: 35px;
                                margin: -1px 4px 0 0;
                                vertical-align: middle;
                                cursor: pointer;
                                border-radius: 50%;
                                border: 2px solid #ffffff;
                            }

                            &:checked+label span {
                                box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.33);
                            }
                        }
                    }

                    .description {
                        color: #666;
                        margin-top: 10px;
                        margin-bottom: 33px;
                    }

                    .product-button {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;


                        .product-favourite {
                            position: relative;
                            height: 40px;
                            width: 40px;
                            display: inline-block;
                            background-color: #e5e5e5;

                            &:hover {
                                background-color: #e4c7a2;
                            }

                            .red-heart-checkbox {
                                position: relative;
                                margin: (15px 0px 0px 14px);
                                opacity: 0;
                            }

                            input[type="checkbox"]:checked+.icon-heart::before {
                                content: "\e90a";
                                color: #ff6666;
                            }

                            .icon-heart {
                                font-size: 18px;
                                margin: (-20px 0px 0px 11px);
                            }
                        }


                    }

                    .product-rating {
                        position: absolute;
                        top: 30px;
                        right: 40px;
                        color: #ffcc66;
                        cursor: pointer;

                        i {
                            margin-right: 7px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    .product-available {
                        line-height: 2.1333333333;
                        padding: 30px 0px 23px;

                        span {
                            color: #333;
                        }

                        a {
                            color: #e4c7a2;
                        }
                    }

                    .product-sku {
                        line-height: 2.1333333333;
                        color: #666;

                        span {
                            color: #333;
                        }
                    }

                    .product-categories {
                        margin-bottom: span;
                        margin-bottom-color: #333;
                        line-height: 2.1333333333;

                        a {
                            color: #666;

                            &:after {
                                content: ",";
                            }

                            &:last-child {
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }

                    .product-share {
                        line-height: 2.1333333333;

                        .icon {
                            padding: 10px;
                            color: #666;
                            font-size: 17px;

                            &:hover {
                                color: #333;

                            }
                        }

                        .social-media {
                            display: inline-block;
                        }
                    }
                }
            }

            .au-tabs {
                .review {
                    .review-outer {
                        height: auto;
                        margin-bottom: 10px;

                        .review-inner {
                            max-height: 400px;
                            overflow: auto;
                            scrollbar-width: none;

                            .single-review {
                                margin-bottom: 14px;

                                p:nth-child(2) {
                                    color: #000;
                                    line-height: 1;
                                }


                                .au-rating {
                                    color: #ffcc66;
                                    cursor: pointer;
                                    margin-bottom: 10px;
                                }

                                .review-div {
                                    height: auto;
                                    border-left: 5px solid #ddd;
                                    padding: 10px 40px 2px 24px;


                                    .review-inside {
                                        //max-height: 100px;
                                        overflow: auto;

                                        .review-text {
                                            color: #000;
                                            margin-bottom: 10px;
                                            text-transform: capitalize;
                                            word-break: break-word;
                                        }
                                    }

                                    .review-date {
                                        color: #666;
                                        margin-bottom: 5px;
                                        margin-top: 5px;
                                        font-size: 13px;
                                    }
                                }
                            }

                        }
                    }

                    .comment-rating {
                        // margin-bottom: 35px;
                        color: #ffcc66;

                        .au-rating {
                            margin-left: 10px;
                            width: 10%;
                            cursor: pointer;
                        }
                    }
                }
            }

            .port-title {
                .title {
                    font-size: 35px;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    color: #333;
                    font-weight: normal;
                }
            }
        }

        .col-md-3 {
            .search {
                custom-label {
                    .label-heading {
                        h3 {
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 12px;
                            color: #333;
                            line-height: 1;
                        }
                    }
                }

                input-field+span {
                    position: relative;
                    margin: -68px 13px 0px 0px;
                    float: right;
                }
            }

            .filter {
                margin-bottom: 50px;

                ::ng-deep {
                    .custom-slider {
                        .ng5-slider {
                            margin: 6px 0 20px !important;

                            .ng5-slider-pointer {
                                &.focus {}
                            }

                            .ng5-slider-bar {
                                background: #cccccc;
                                height: 2px;
                            }

                            .ng5-slider-selection {
                                background: #e4c7a2;
                            }

                            .ng5-slider-pointer {
                                width: 8px;
                                height: 8px;
                                top: auto;
                                /* to remove the default positioning */
                                bottom: 0;
                                background-color: #e4c7a2;

                                //border-top-left-radius: 3px;
                                //border-top-right-radius: 3px;
                                &:after {
                                    display: none;
                                }
                            }

                            .ng5-slider-bubble {
                                bottom: 14px;
                                display: none;
                            }

                            .ng5-slider-limit {
                                font-weight: bold;
                                color: #e4c7a2;
                                display: none;
                            }

                            .ng5-slider-tick {
                                width: 1px;
                                height: 10px;
                                margin-left: 4px;
                                border-radius: 0;
                                background: #cccccc;
                                top: -1px;
                            }

                            .ng5-slider-tick.ng5-slider-selected {
                                background: orange;
                            }
                        }

                        .filter-range-value {
                            font-size: 15px;

                            btn {
                                float: right;
                            }

                            span {
                                vertical-align: -webkit-baseline-middle;
                            }
                        }
                    }
                }

                custom-label {
                    .label-heading {
                        h3 {
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 12px;
                            color: #333;
                            line-height: 1;
                        }
                    }
                }
            }

            .categories-list {
                margin-bottom: 50px;
            }

            .shop-color {
                margin-bottom: 50px;
            }

            .shop-size {
                margin-bottom: 50px;

                categories {
                    ul>li>a {
                        text-transform: uppercase !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
    .container {
        .row {
            .col-md-12 {
                .shop-product {
                    .product-body {
                        .product-button {
                            .quantity {
                                input[type="number"] {
                                    width: 80px;
                                }

                                .quantity-input {
                                    width: 80px;
                                }
                            }

                            .cart-btn {
                                width: -webkit-fill-available;
                            }

                            .product-favourite {
                                .icon-heart {
                                    margin: -24px 7px 0px 10px;
                                }
                            }
                        }

                        .first {
                            .product-rating {
                                width: 18%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .container {
        .row {
            .col-md-12 {
                .product-detail {
                    .shop-product {
                        .product-body {
                            .first {
                                .product-rating {
                                    width: 15%;
                                }
                            }
                        }
                    }
                }


                .au-tabs {
                    .review {
                        .comment-rating {
                            .au-rating {
                                width: 14%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .container {
        .row {
            .col-md-12 {
                .product-detail {
                    .shop-product {
                        .product-body {
                            .first {
                                .product-rating {
                                    width: 15%;
                                }
                            }
                        }
                    }
                }

                .au-tabs {
                    .review {
                        .comment-rating {
                            .au-rating {
                                width: 12%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .container {
        .row {
            .col-md-12 {
                .port-title {
                    .title {
                        font-size: 25px;
                    }
                }

                .product-detail {
                    .shop-product {
                        .product-body {
                            .first {
                                .product-rating {
                                    width: 20%;
                                }
                            }
                        }
                    }
                }

                .review {
                    .comment-rating {
                        .au-rating {
                            width: 14% !important;
                        }
                    }


                    .comment-place {
                        .plr-15 {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }
}