ul {
    margin-top: -8px;

    li {
        margin-bottom: 10px;
        line-height: 2;

        a {
            color: #666;
            font-size: 15px;
            -webkit-transition: all 0.35s;
            -o-transition: all 0.35s;
            -moz-transition: all 0.35s;
            transition: all 0.35s;
            text-transform: capitalize;
            cursor: pointer;

            &:hover {
                color: #e4c7a2;
            }

        }

        .child-category {
            padding: 20px 0px 10px 20px;
        }

        span {
            float: right;
        }
    }
}

.accordion {
    .card {
        overflow: hidden;
        border: none !important;
        // &:not(:first-of-type) {
        //     .card-header:first-child {
        //         @include border-radius(0);
        //     }

        //     &:not(:last-of-type) {
        //         border-bottom: 0;
        //         @include border-radius(0);
        //     }
        // }

        // &:first-of-type {
        //     border-bottom: 0;
        //     @include border-bottom-radius(0);
        // }

        // &:last-of-type {
        //     @include border-top-radius(0);
        // }

        // .card-header {
        //     margin-bottom: -$card-border-width;
        // }
    }
}