<!-- <banner [title]="'Shop'"></banner> -->
<div class="container p-b-90 p-t-100 m-t-40 own-grid">
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="au-form-body p-r-lg-15 p-r-xl-15">
        <custom-label [label]="'Order Details'" [className]="'cart-border'"></custom-label>
        <table class="table-shop m-b-30">
          <tbody>
            <!-- <tr class="order-id">Order-Id: OD114145735456545000</tr> -->
            <tr class="add-summary">
              <div class="summary">
                <span class="sumtitle">Summary</span>
                <div class="orderid">Order-Id: <span class="id">OD1141457355000</span></div>
                <div class="orderdate">Order Date: <span class="date">Sat, Jan 5th '19</span></div>
                <div class="ordertotal">Order Total: <span class="total">$456</span></div>
              </div>
              <div class="address">
                <span class="addtitle">Shipping Address</span>
                <span class="fulladdress"><span>813 Hart Ridge Road,</span><span>Saginaw,</span><span> Michigan,
                    48607</span></span>
              </div>
            </tr>
            <tr class="product">
              <td class="width40">
                <div class="table-shop-product">
                  <div class="image">
                    <custom-img [src]="'../../assets/images/slide1.jpg'" [alt]="'Product 1'">
                    </custom-img>
                  </div>
                  <div class="name">
                    Denver Hamilton Deodorant Body Spray
                    <span class="skuid">SKU: 1545642</span></div>
                </div>
              </td>
              <td class="width20">
                <span class="quantity">x 1</span>
                <span class="price">$156</span>

              </td>
              <td class="width10">
                <span class="arriving"><a href="#">Rate This Product</a></span>
              </td>
            </tr>
            <tr class="product">
              <td class="width40">
                <div class="table-shop-product">
                  <div class="image">
                    <custom-img [src]="'../../assets/images/slide1.jpg'" [alt]="'Product 1'">
                    </custom-img>
                  </div>
                  <div class="name">
                    Denver Hamilton Deodorant Body Spray
                    <span class="skuid">SKU: 1545642</span></div>
                </div>
              </td>
              <td class="width20">
                <span class="quantity">x 1</span>
                <span class="price">$156</span>

              </td>
              <td class="width10">
                <span class="arriving"><a href="#">Rate This Product</a></span>
              </td>
            </tr>
            <tr class="product">
              <td class="width40">
                <div class="table-shop-product">
                  <div class="image">
                    <custom-img [src]="'../../assets/images/slide1.jpg'" [alt]="'Product 1'">
                    </custom-img>
                  </div>
                  <div class="name">
                    Denver Hamilton Deodorant Body Spray
                    <span class="skuid">SKU: 1545642</span></div>
                </div>
              </td>
              <td class="width20">
                <span class="quantity">x 1</span>
                <span class="price">$156</span>

              </td>
              <td class="width10">
                <span class="arriving"><a href="#">Rate This Product</a></span>
              </td>
            </tr>
            <!-- <tr class="orderdetail">
              <div class="orderdate"><span class="orderon">Ordered On</span><span class="date">Sat, Jan 5th '19</span>
              </div>
              <div class="ordertotal"><span class="orderon">Order Total</span><span class="total">$456</span></div>
            </tr> -->
            <tr class="pricedetail bor-top">
              <div class="detail">Subtotal: <span class="price">$450</span></div>
              <div class="detail">Promotions: <span class="price">FREE</span></div>
              <div class="detail">Discount: <span class="price">$25.00</span></div>
              <div class="detail">Tax Total: <span class="price">$12.75</span></div>
            </tr>
            <tr class="pricedetail">
              <div class="final">Total: <span class="totalprice">$359.00</span></div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<body id="body_7bc9_0">

</body>
