<div class="orders">
  <!-- <banner [title]="'Password'"></banner> -->
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="container p-t-100 p-b-70 m-t-40 own-grid">
    <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
    <div class="row">
      <div class="col-md-9">
        <div class="au-form-body p-r-lg-15 p-r-xl-15">
          <custom-label [label]="'My Orders'" [className]="'cart-border'"></custom-label>
          <table class="table-shop m-b-30">
            <tbody>
              <tr class="order-id"> #OD114145735456545000</tr>
              <tr>
                <td>
                  <div class="table-shop-product">
                    <div class="image">
                      <custom-img [src]="'../../assets/images/slide1.jpg'" [alt]="'Product 1'">
                      </custom-img>
                    </div>
                    <div class="name">
                      Denver Hamilton Deodorant Body Spray
                      <span class="skuid">SKU: 1545642</span></div>
                  </div>
                </td>
                <td>
                  <span class="quantity">x 1</span>
                  <span class="price">$156</span>
                </td>
                <td>
                  <span class="arriving">arriving</span>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="table-shop-product">
                    <div class="image">
                      <custom-img [alt]="'Product 1'">
                      </custom-img>
                    </div>
                    <div class="name">
                      Axonza Men's White Sneakers shoes Sneakers
                      <span class="skuid">SKU: 1545642</span></div>
                  </div>
                </td>
                <td>
                  <span class="quantity">x 1</span>
                  <span class="price">$156</span>
                </td>
                <td>
                  <span class="arriving">arriving</span>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table-shop m-b-30">
            <tbody>
              <tr class="order-id"> #OD114145735456545000</tr>
              <tr>
                <td>
                  <div class="table-shop-product">
                    <div class="image">
                      <custom-img [alt]="'Product 1'">
                      </custom-img>
                    </div>
                    <div class="name">
                      Denver Hamilton Deodorant Body Spray
                      <span class="skuid">SKU: 1545642</span></div>
                  </div>
                </td>
                <td>
                  <span class="quantity">x 1</span>
                  <span class="price">$156</span>
                </td>
                <td>
                  <span class="delivered">delivered</span>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="table-shop-product">
                    <div class="image">
                      <custom-img [alt]="'Product 1'">
                      </custom-img>
                    </div>
                    <div class="name">
                      Denver Hamilton Deodorant Body Spray
                      <span class="skuid">SKU: 1545642</span></div>
                  </div>
                </td>
                <td>
                  <span class="quantity">x 1</span>
                  <span class="price">$156</span>
                </td>
                <td>
                  <span class="arriving">arriving</span>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table-shop m-b-30">
            <tbody>
              <tr class="order-id"> #OD114145735456545000</tr>
              <tr>
                <td>
                  <div class="table-shop-product">
                    <div class="image">
                      <custom-img [alt]="'Product 1'">
                      </custom-img>
                    </div>
                    <div class="name">
                      Denver Hamilton Deodorant Body Spray
                      <span class="skuid">SKU: 1545642</span></div>
                  </div>
                </td>
                <td>
                  <span class="quantity">x 1</span>
                  <span class="price">$156</span>
                </td>
                <td>
                  <span class="delivered">delivered</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <custom-label [label]="'My Account'" [className]="'cart-border'"></custom-label>
        <login-menu></login-menu>
      </div>
    </div>
  </div>

</div>
