<div class="orders">
  <!-- <banner [title]="'Password'"></banner> -->
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="container p-t-100 p-b-70 m-t-40 own-grid">
    <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
    <div class="row" *ngIf="OrdersData">
      <div class="col-md-9">
        <div class="au-form-body p-r-lg-15 p-r-xl-15">
          <custom-label [label]="'My Orders'" [className]="'cart-border'"></custom-label>
          <table class="table-shop m-b-30" *ngFor="let order of OrdersData.orders">
            <tbody>
              <tr class="tab-header">
                <td class="order-id"><span>Order Id : {{order.id}}</span></td>
                <td></td>
                <td class="width20"><span (click)="onShowOrderDetails(order)" class="floatR">View Details</span></td>
              </tr>
              <tr *ngFor="let product of order.products">
                <td class="width40">
                  <div class="table-shop-product">
                    <div class="image">
                      <custom-img [src]="product.product.image.imageUrl" [alt]="'Product 1'">
                      </custom-img>
                    </div>
                    <div class="name">
                      {{product.product.description.title}}
                      <span class="skuid">SKU: {{product.sku}}</span></div>
                  </div>
                </td>
                <td class="width20">
                  <span class="quantity">{{product.orderedQuantity}} x</span>
                  <span class="price">{{product.price}}</span>
                </td>
                <td class="width10">
                  <span class="delivered">{{order.orderStatus}}</span>
                  <!-- <span class="arriving">{{order.orderStatus}}</span> -->
                </td>
              </tr>

              <tr class="tab-header detail">
                <td class="orderdate"><span class="orderon">Ordered On</span><span class="date">{{dateFormat(order.datePurchased)}}</span></td>
                <td></td>
                <td class="width20"><span class="orderon">Order Total</span><span class="total">${{order.total.value}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <custom-label [label]="'My Account'" [className]="'cart-border'"></custom-label>
        <login-menu></login-menu>
      </div>
    </div>
  </div>

</div>