/deep/ .ngx-gallery-image {
    background-size: 100% !important;

    background-repeat: no-repeat !important;
    // background-size: cover !important;
}

/deep/ .ngx-gallery-image-wrapper {
    border: 1px solid lightgrey !important;
}