<table class="table-shop">
  <tbody>
    <tr @items *ngFor="let result of data; let i = index">
      <td>
        <div class="table-shop-product">
          <div class="image">
            <custom-img [src]="result.images[0].imageUrl" [alt]="'Product 1'"></custom-img>
          </div>
          <div class="name">{{result.description.name}}</div>
        </div>
      </td>
      <td>
        ${{result.price}}
      </td>
      <td>
        <div class="quantity">
          <span class="sub">
            <i class="icon-down" (click)="decreaseQuntity(result)"></i>
          </span>
          <div class="quantity-input">
            <input-field [type]="'number'" value="{{result.quantity}}" (keyup)="onQuantityChange(result,$event.target.value)"></input-field>
          </div>
          <span class="add">
            <i class="icon-up" (click)="increaseQuntity(result)"></i>
          </span>
        </div>
      </td>
      <td>
        ${{result.price * result.quantity}}
      </td>
      <td>
        <span class="icon-close" (click)="removecartData(i)"></span>
        <!-- <a (click)="removecartData(i)">
            <custom-img [src]="'../../../assets/images/icon/close.png'" [alt]="'Close'"></custom-img>
          </a> -->
      </td>
    </tr>
  </tbody>
</table>