<div class="wish-list">
  <banner [title]="'My Wishlist'"></banner>
  <div>
    <div class="container p-t-100 py-tn-30">
      <div class="row m-t-20">
        <div class="col-md-12">
          <list-header [data]="header_data"></list-header>
     
          <list [data]="cartData" [showGrid]="'2'"></list>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-b-30 py-tn-30">
    <div class="row m-t-20">
      <div class="main-button">
        <btn [text]="'Clear Shopping Cart'" [className]="'white'"></btn>
        <btn [text]="'Update Continue Shopping'" [className]="'white'"></btn>
        <btn [text]="'Continue Shopping'"></btn>
      </div>
    </div>
  </div>
</div>
