<div id="map-canvas">
  <agm-map [latitude]="lat" [mapDraggable]="false" [disableDoubleClickZoom]="false" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
<div class="container">
  <div class="contact-info-wrapper d-lg-block">
    <div class="contact-info">
      <div class="contact-item">
        <div class="contact-icon">
          <span class="icon-location"></span>
        </div>
        <div class="contact-text">
          {{contactData.address.address}}, {{contactData.address.city}}, <br /> {{contactData.address.stateProvince}}
          {{contactData.address.country}} {{contactData.address.postalCode}}
        </div>
      </div>
      <div class="contact-item">
        <div class="contact-icon">
          <span class="icon-call"></span>
        </div>
        <div class="contact-text">
          {{contactData.phone}}
        </div>
      </div>
      <div class="contact-item">
        <div class="contact-icon">
          <span class="icon-mail"></span>
        </div>
        <div class="contact-text">
          {{contactData.email}}
        </div>
      </div>
      <div class="contact-item">
        <div class="contact-icon">
          <span class="icon-web"></span>
        </div>
        <div class="contact-text">
          www.Lyrae.com
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-85 py-tn-50 mtop">
  <div class="port-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="title">{{ 'contact us' | translate }}</h2>
          <p class="title-detail">But I must explain to you how all this mistaken idea of denouncing pleasure and
            praising pain
            was born and I will give you a complete account.</p>
          <div class="title-border mx-auto m-b-55 m-b-tn-35"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="port-body">
    <div class="contact-form">
      <div class="messages" id="status"></div>
      <form id="contact-form" #contactForm="ngForm" role="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group au-form">
              <input-field type="text" id="name" placeHolder="Your Full Name" [(ngModel)]="contact.username" name="username"
                required></input-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group au-form">
              <input-field id="name" type="email" placeHolder="Your Mail" class="mail" [(ngModel)]="contact.email" name="email"
                required></input-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group au-form">
              <input-field id="name" type="text" placeHolder="Your Subject" class="phone" [(ngModel)]="contact.subject"
                name="subject" required></input-field>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="form-group au-form">
              <input-field id="name" type="text" placeHolder="Your Phone" class="phone"></input-field>
            </div>
          </div> -->
          <div class="col-md-12">
            <div class="form-group au-form">
              <custom-textarea name="password" id="name" placeHolder="Your Message" class="txtarea" [(ngModel)]="contact.message"
                name="message" required>
              </custom-textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group au-form">
              <btn (onClick)="onSendFeedBack()" [text]="'Send us now'" class="m-t-10 contactBtn" [isDisabled]="!contactForm.form.valid"></btn>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>