<div class="password">

  <banner [title]="'Password'"></banner>
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="container p-t-100 p-b-70 own-grid">
    <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
    <div class="row">
      <div class="col-md-9">
        <div class="au-form-body p-r-lg-15 p-r-xl-15">
          <custom-label [label]="'Change Password'" [className]="'cart-border'"></custom-label>
          <fieldset class="m-t-40" class="account-box">
            <form #passwordForm="ngForm" role="form">
              <input-field type="text" label="User Name" labelAfter="true" [(ngModel)]="password.username" name="username"
                placeHolder="" bottom="25" required #username="ngModel">
                <err-required message="Username is required" [isValid]="username.valid || (username.pristine)"></err-required>
              </input-field>
              <input-field type="password" label="Current Password" labelAfter="true" [(ngModel)]="password.current"
                name="current" placeHolder="" bottom="25" required #currentPassword="ngModel">
                <err-required message="Password is required" [isValid]="currentPassword.valid || (currentPassword.pristine)"></err-required>
              </input-field>

              <input-field type="password" label="Password" labelAfter="true" [(ngModel)]="password.newpassword" name="newpassword"
                placeHolder="" bottom="25" required #newpassword="ngModel">
                <err-required message="Password is required" [isValid]="newpassword.valid || (newpassword.pristine)">
                </err-required>
              </input-field>
              <input-field type="password" label="Repeat Password" labelAfter="true" name="confirmPassword" [(ngModel)]="password.confirmPassword"
                placeHolder="" bottom="25" validateEqual="newpassword" #confirmpasswordone="ngModel" required>
                <err-required message="Passwords do not match." [isValid]="confirmpasswordone.valid || (confirmpasswordone.pristine)">
                </err-required>
              </input-field>
              <!-- <input-field type="password" label="New Password" labelAfter="true" name="new" [(ngModel)]="password.new"
                placeHolder="" bottom="25" required #newPassword="ngModel">
                <err-required message="Password is required" [isValid]="newPassword.valid || (newPassword.pristine)"></err-required>
              </input-field>
              <input-field type="password" label="Repeat Password" labelAfter="true" name="repeat" [(ngModel)]="password.repeat"
                placeHolder="" bottom="25" validateEqual="newPassword" #repeatPassword="ngModel" required>
                <err-required message="Passwords do not match." [isValid]="repeatPassword.valid || (repeatPassword.pristine)"></err-required>
              </input-field> -->

              <div class="form-group au-form">
                <btn [text]="'Change Password'" (onClick)="onChangePassword()" [isDisabled]="!passwordForm.form.valid"></btn>
              </div>

            </form>
          </fieldset>
        </div>
      </div>
      <div class="col-md-3">
        <custom-label [label]="'My Account'" [className]="'cart-border'"></custom-label>
        <login-menu></login-menu>
      </div>
    </div>
  </div>

</div>