<div class="shopping-cart">

    <banner [name]="'shop cart'"></banner>
    <cart-list></cart-list>
    <div class="container p-b-30 py-tn-30">
        <div class="row m-t-20">
            <div class="main-button">
                <btn [label]="'Clear Shopping Cart'" [className]="'white'"></btn>
                <btn [label]="'Update Continue Shopping'" [className]="'white'"></btn>
                <btn [label]="'Continue Shopping'" [className]="''"></btn>
            </div>
        </div>
    </div>

</div>