.shop-cart {
    transition-duration: 0.3s;
    transition-property: opacity, visibility, transform;

    // visibility: hidden;
    opacity: 0;
    transform: translateY(10px);

}

.header-shop-cart {
    display: none;
}

.shop-cart.open {
    // visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.shop-cart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}


.shop-cart {
    position: fixed;
    top: 0px;
    right: 60px;
    width: 304px;
    padding: 40px 30px;
    z-index: 1;
    background-color: #ffffff;
    border-top: 5px solid #e4c7a2;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.shop-cart .shop-cart__list {
    width: 100%;
}

.shop-cart .shop-cart__list .item {
    width: 100%;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-bottom: 20px;
}

// .shop-cart .shop-cart__list .item:last-child {
//     margin-bottom: 0;
// }

.shop-cart .shop-cart__list .item .item-image {
    width: 78px;
    height: 78px;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.shop-cart .shop-cart__list .item .item-detail {
    padding-left: 15px;
    padding-top: 5px;
    width: 63%;
}

.shop-cart .shop-cart__list .item .item-detail p {
    line-height: 18px;
}

.shop-cart .shop-cart__list .item .item-detail p.name {
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.shop-cart .shop-cart__list .item .item-detail p.price {
    color: #333;
    font-size: 14px;
    margin-bottom: 9px;
}

.shop-cart .shop-cart__list .item .item-detail p.amount {
    color: #ff6666;
    font-size: 14px;
    margin: 0;
}

.shop-cart .shop-cart__list .item .icon-close {
    // position: absolute;
    display: inline-block;
    top: 8px;
    right: 0;
    width: 14px;
    height: 14px;

    cursor: pointer;
}

.shop-cart .shop-cart__list .item .icon-close:hover {
    color: black;
}

.shop-cart .checkout p {
    font-size: 18px;
    line-height: 24px;
    color: #333;
    font-weight: 600;
    margin-bottom: 9px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.shop-cart .checkout p .sub-total {
    font-size: 16px;
    color: #666;
    font-weight: normal;
}

.shop-cart .checkout p .total {
    font-size: 16px;
    color: #ff6666;
    font-weight: normal;
}

.shop-cart .checkout btn {
    margin-top: 24px;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;


    button {
        width: 100px
    }

}

.shop-cart .checkout btn button {
    width: 100px
}