<section class="py-60 bg-signup">

  <div class="container">
    <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
    <div class="row justify-content-end">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="port-title m-t-41">
          <h2 class="title wow slideInRight" data-wow-duration="1s">
            {{ 'SIGN UP FOR NEWSLETTER' | translate }}
          </h2>
          <p class="description wow slideInUp" data-wow-duration="1s">
            But I must expl’ain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give.
          </p>
          <div class="title-border"></div>
        </div>
        <div class="signup-form">
          <form #newsletterForm="ngForm" role="form">
            <input-field type="email" [(ngModel)]="news.email" name="email" placeHolder="Your email address" required
              #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]{2,}[.][a-zA-Z0-9-.]{2,}">
              <err-required message="Valid email required" [isValid]="email.valid || (email.pristine)">
              </err-required>
            </input-field>
            <!-- <input type="text" /> -->
            <btn [text]="'Submit'" (onClick)="onNewsLetter()" [isDisabled]="!newsletterForm.form.valid"></btn>
          </form>
          <!-- Social Media  -->
          <nav class="social-media">
            <ul>
              <li>
                <a href="#">
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-pinterest"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>