<section class="py-70 bg-signup">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="port-title m-t-41">
          <h2 class="title wow slideInRight" data-wow-duration="1s">
            SIGN UP FOR NEWSLETTER
          </h2>
          <p class="description wow slideInUp" data-wow-duration="1s">
            But I must expl’ain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give.
          </p>
          <div class="title-border"></div>
        </div>
        <div class="signup-form">
          <form>
            <input type="text" placeholder="Your email address" />
            <button type="submit">Submit</button>
          </form>
          <!-- Social Media  -->
          <nav class="social-media">
            <ul>
              <li>
                <a href="#">
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-pinterest"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
