.shop-list {
    .shop-list-body {
        max-height: 1000px;
        overflow-y: scroll;
        scrollbar-width: none;

        .content {
            padding: 30px 0;
        }

        .shop-product {
            display: flex;
            padding: 0px 0px;
            border-bottom: 1px solid #e5e5e5;
            transition: all 0.35s ease;
            overflow: hidden;



            .product-image {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 270px;
                -moz-box-flex: 0;
                -ms-flex: 0 0 270px;
                flex: 0 0 270px;
                height: 340px;
                background-color: #fff;
                position: relative;
            }

            .product-body {
                padding: 29px 0 10px 30px;
                overflow: hidden;
                position: relative;
                display: inline-block;
                width: 100%;

                .first {

                    .product-rating {
                        float: right;
                        display: inline-block;
                        width: 90px;
                    }
                }

                .name {
                    color: #666;
                    font-size: 19px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    cursor: pointer;
                }

                .product-rating {
                    position: absolute;
                    top: 35px !important;
                    right: 0;
                    color: #ffcc66;
                    cursor: pointer;
                    width: 15%;

                    span:focus {
                        outline: transparent;
                    }
                }

                .price {
                    color: #333;
                    font-size: 18px;
                    font-weight: 500;

                    .discount-price {
                        text-decoration: line-through;
                    }

                    .original-price {
                        margin-left: 10px;
                        color: red;
                    }
                }

                .color-choose {
                    div {
                        display: inline-block;
                    }

                    input[type="radio"] {
                        display: none;

                        +label span {
                            display: inline-block;
                            width: 35px;
                            height: 35px;
                            margin: -1px 4px 0 0;
                            vertical-align: middle;
                            cursor: pointer;
                            border-radius: 50%;
                            border: 2px solid #ffffff;
                        }

                        &:checked+label span {
                            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.33);
                        }
                    }
                }

                .description {
                    color: #666;
                    margin-bottom: 33px;
                }

                .product-button {
                    display: flex;

                    .product-favourite {
                        position: relative;
                        height: 40px;
                        width: 40px;
                        display: inline-block;
                        background-color: #e5e5e5;

                        &:hover {
                            background-color: #e4c7a2;
                        }

                        .red-heart-checkbox {
                            position: relative;
                            margin: (15px 0px 0px 14px);
                            opacity: 0;
                        }

                        input[type="checkbox"]:checked+.icon-heart::before {
                            content: "\e90a";
                            color: #ff6666;
                        }

                        .icon-heart {
                            font-size: 18px;
                            margin: (-20px 0px 0px 11px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .shop-list {
        .shop-list-body {
            .shop-product {
                .product-body {
                    .product-rating {
                        width: 25%;
                        top: 35px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .shop-list {
        .shop-list-body {
            .shop-product {
                .product-body {
                    .product-rating {
                        width: 35% !important;
                        top: 65px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
    .shop-list {
        .shop-list-body {
            .shop-product {
                .product-body {
                    .product-rating {
                        width: 20%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .shop-list {
        .shop-list-body {
            .shop-product {
                .product-image {
                    flex: 0 0 100%;
                    height: 300px;
                    background-color: #eef1f8;
                    position: relative;
                    max-height: 300px;

                }
            }
        }
    }
}