<div class="siema-container">
  <div class="siema">
    <div><img src="http://placekitten.com/1920/820" alt="" /></div>
    <div><img src="http://placekitten.com/1920/820" alt="" /></div>
    <div><img src="http://placekitten.com/1920/820" alt="" /></div>
    <div><img src="http://placekitten.com/1920/820" alt="" /></div>
  </div>
  <div class="siema-bullets">
    <div class="siema-bullets-inner">
      <button class="siema-bullet" (click)="changeSlide()"></button>
      <button class="siema-bullet" (click)="changeSlide()"></button>
      <button class="siema-bullet selected" (click)="changeSlide()"></button>
    </div>
  </div>
</div>
