<!-- <banner [title]="'Shop'"></banner> -->
<div class="container1 own-grid m-t-40">
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'Order Completed' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="passBack()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="au-form-body p-r-lg-15 p-r-xl-15">

        <table class="table-shop">
          <tbody>
            <tr class="add-summary">
              <div class="summary">
                <!-- <custom-label [label]="'Summary'" [className]="'cart-border'"></custom-label> -->
                <div class="first-row">{{'Thank you for ordering' | translate}}</div>
                <div class="first-row">{{'Bank Account' | translate}}: {{info.storebank}}</div>
                <div class="second-row">{{'Bank Message' | translate }}: <b>{{'Your order id is' | translate }} {{orderID}}</b></div>
              
                <div class="third-row">{{'We are going to call you soon' | translate }}</div>
                <div></div>
                <div class="orderid">{{'If you have any comments or suggestions for us. please call our contact with your order id. We value your feedback' | translate }}</div>

              </div>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>