<!-- <virtual-scroller #scroll *ngIf="withScroll == 'true'" [items]="productData" (vsEnd)="fetchMore($event)" -->
<!-- [enableUnequalChildrenSizes]="true"> -->
<div class="grid-body row" data-layout="fitRows" (scroll)="onScroll($event)">
  <div class="col-lg-{{Large}} col-md-6 col-sm-6" *ngFor="let result of productData; let i = index">
    <div class="grid-product">
      <div class="image bg-lightblue">
        <a *ngIf="result.image" (click)="onClickName(result)">
          <custom-img [src]="result.image.imageUrl" [alt]="'About Us'">
          </custom-img>
        </a>
        <div class="addcart">
          <a (click)="onClickAddCart(result)">{{ 'Add to cart' | translate}}</a>
        </div>
      </div>
      <a class="name" (click)="onClickName(result)">{{result.description.name}}</a>
      <div class="product-rating" data-star="4">
        <ngb-rating [rate]="result.rating"></ngb-rating>
      </div>
      <div class="price"><span [ngClass]="result.discounted ? 'discount-price' : ''">{{result.originalPrice}}</span><span
          *ngIf="result.discounted" class="original-price">{{result.finalPrice}}</span></div>
    </div>
  </div>
</div>
<!-- </virtual-scroller> -->