<section class="py-50">
  <div class="port-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="title">our products</h2>
          <p class="title-detail">
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account.
          </p>
          <div class="title-border mx-auto m-b-35"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="port-body">
    <div class="container">
      <div class="grid">
        <div class="grid-filter">
          <ul class="text-center">
            <li class="active">
              <span data-filter="*">All</span>
            </li>
            <li>
              <span data-filter=".sofa">Sofa</span>
            </li>
            <li>
              <span data-filter=".chair">Chair</span>
            </li>
            <li>
              <span data-filter=".decor">Decor</span>
            </li>
            <li>
              <span data-filter=".lamp">lamp</span>
            </li>
          </ul>
        </div>
        <div class="grid-body row" data-layout="fitRows">
          <div class="col-lg-3 col-md-4 col-sm-6 grid-item chair">
            <div class="grid-product">
              <div class="image bg-lightblue">
                <a href="#">
                  <img src="images/product_04.png" alt="Chair" />
                </a>
                <div class="addcart">
                  <a href="#">Add to cart</a>
                </div>
              </div>
              <a href="#" class="name">Ignacio Chairs</a>
              <div class="price">$39.00</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 grid-item lamp">
            <div class="grid-product">
              <div class="image bg-lightblue">
                <a href="#">
                  <img src="images/product_05.png" alt="Chair" />
                </a>
                <div class="addcart">
                  <a href="#">Add to cart</a>
                </div>
              </div>
              <a href="#" class="name">Diamond Lamp</a>
              <div class="price">$23.00</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 grid-item sofa">
            <div class="grid-product">
              <div class="image bg-lightblue">
                <a href="#">
                  <img src="images/product_06.png" alt="Table" class="m-b-10" />
                </a>
                <div class="addcart">
                  <a href="#">Add to cart</a>
                </div>
              </div>
              <a href="#" class="name">High Table</a>
              <div class="price">$15.00</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 grid-item lamp">
            <div class="grid-product">
              <div class="image bg-lightblue">
                <a href="#">
                  <img src="images/product_07.png" alt="Lamp" />
                </a>
                <div class="addcart">
                  <a href="#">Add to cart</a>
                </div>
              </div>
              <a href="#" class="name">Pendant Shade</a>
              <div class="price">$20.00</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 grid-item decor">
            <div class="grid-product">
              <div class="image bg-lightblue">
                <a href="#">
                  <img src="images/product_08.png" alt="Lamp" />
                </a>
                <div class="addcart">
                  <a href="#">Add to cart</a>
                </div>
              </div>
              <a href="#" class="name">Aslesha Basket</a>
              <div class="price">$27.00</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 grid-item lamp">
            <div class="grid-product">
              <div class="image bg-lightblue">
                <a href="#">
                  <img src="images/product_09.png" alt="Lamp" />
                </a>
                <div class="addcart">
                  <a href="#">Add to cart</a>
                </div>
              </div>
              <a href="#" class="name">Driva Table Lamp</a>
              <div class="price">$56.00</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 grid-item lamp">
            <div class="grid-product">
              <div class="image bg-lightblue">
                <a href="#">
                  <img src="images/product_10.png" alt="Lamp" />
                </a>
                <div class="addcart">
                  <a href="#">Add to cart</a>
                </div>
              </div>
              <a href="#" class="name">Hanging Sphere</a>
              <div class="price">$18.00</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 grid-item lamp">
            <div class="grid-product">
              <div class="image bg-lightblue">
                <a href="#">
                  <img src="images/product_11.png" alt="Lamp" />
                </a>
                <div class="addcart">
                  <a href="#">Add to cart</a>
                </div>
              </div>
              <a href="#" class="name">Portable Speaker</a>
              <div class="price">$42.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
