<div class="forgot-password">
  <banner [title]="'My Account'"></banner>
  <div class="container py-90 py-tn-40">
    <p>Lost your password? Please enter your username or email address. You will receive a link to create a new
      password
      via email.</p>
    <div class="form-account py-0">
      <form #forgotForm="ngForm" role="form">
        <div class="form-group">
          <input-field type="email" label="Username or email" labelAfter="true" placeHolder="">

          </input-field>
        </div>
        <div class="form-group">
          <btn [text]="'Reset password'" [isDisabled]="!forgotForm.form.valid"></btn>
        </div>
      </form>
    </div>
  </div>
</div>