<div class="shop">
  <banner [title]="'Shop'"></banner>

  <div class="container p-t-100 p-b-70 own-grid">
    <div class="row">
      <div class="col-md-9">
        <div class="shop-list-heading">
          <div class="number-product" *ngIf="productData.length > 0">
            Showing
            <span>{{show_product}}</span> -
            <span>{{page}}</span> of
            <span>{{totalRecord}}</span> results
          </div>
          <div class="shop-view-layout">
            <span>Show</span>
            <span id="layout_grid" class="icon-grid" (click)="onHideShowGrid()">
            </span>
            <span id="layout_list" class="icon-list" (click)="onHideShowGrid()">
            </span>
          </div>
        </div>
        <div class="grid" *ngIf="showGrid == false">
          <product-grid [Large]="'4'"
            [productData]="productData | paginate: { itemsPerPage: show_product, currentPage: page }"></product-grid>
        </div>

        <div class="shop-list" *ngIf="showGrid == true">
          <product-list [productData]="productData | paginate: { itemsPerPage: show_product, currentPage: page }">
          </product-list>
        </div>
        <div class="page" *ngIf="productData.length > 0">
          <pagination-controls (pageChange)="page = $event" class="paging"></pagination-controls>
        </div>
        <div *ngIf="productData.length == 0">
          No items in your shopping cart
        </div>
      </div>
      <div class="col-md-3">
        <div class="search">
          <custom-label [label]="'search'" [className]="'cart-border'"></custom-label>
          <input-field type="text" bottom="40" placeHolder=""></input-field><span class="icon-search"></span>
        </div>
        <div class="filter">
          <custom-label [label]="'Filter by price'" [className]="'cart-border'"></custom-label>
          <div class="custom-slider">
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            <div class="filter-range-value">
              <span>Filter:</span>
              <span id="filter-price-value-lower"> ${{minValue}}</span>
              <span> - </span>
              <span id="filter-price-value-upper">${{maxValue}}</span>
              <btn [text]="'filter'"></btn>
            </div>
          </div>
        </div>
        <div class="categories-list">
          <custom-label [label]="'categories'" [className]="'cart-border'"></custom-label>
          <categories [data]="categoriesData" (onClick)="onFilter($event, '0')"></categories>
        </div>
        <div class="shop-color">
          <custom-label [label]="'shop by color'" [className]="'cart-border'"></custom-label>
          <shop-color [data]="colorData"></shop-color>
        </div>
        <div class="shop-size">
          <custom-label [label]="'shop by size'" [className]="'cart-border'"></custom-label>
          <categories [data]="sizeData"></categories>
        </div>
        <div class="best-seller">
          <custom-label [label]="'best seller'" [className]="'cart-border'"></custom-label>
          <best-seller [data]="sellerData"></best-seller>
        </div>

      </div>
    </div>
  </div>

</div>