<div class="shop">

  <banner [title]="'Shop'"></banner>

  <div class="container p-t-100 p-b-70 own-grid">
    <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
    <div class="row">
      <div class="col-md-9">
        <div class="shop-list-heading">
          <div class="number-product" *ngIf="productData.length > 0">
            {{ 'Showing' | translate }}
            <span>{{show_product}}</span> -
            <span>{{page}}</span> of
            <span>{{totalRecord}}</span> {{ 'results' | translate }}
          </div>
          <div class="shop-view-layout">
            <span>{{ 'Show' | translate }}</span>
            <span id="layout_grid" class="icon-grid" (click)="onHideShowGrid()">
            </span>
            <span id="layout_list" class="icon-list" (click)="onHideShowGrid()">
            </span>
          </div>
        </div>
        <div class="grid" *ngIf="showGrid == false">
          <product-grid [Large]="'4'" [productData]="productData | paginate: { itemsPerPage: show_product, currentPage: page }"
            (onClickCart)="addToCart($event)" (onClickDetail)="goToDetailsPage($event)" (onPagination)="onRefresh($event)">
          </product-grid>
        </div>

        <div class="shop-list" *ngIf="showGrid == true">
          <product-list [productData]="productData | paginate: { itemsPerPage: show_product, currentPage: page }"
            (onClickCart)="addToCart($event)" (onClickDetail)="goToDetailsPage($event)" (onPagination)="onRefresh($event)">
          </product-list>
        </div>
        <div *ngIf="loadmore" class="no-more-data">Loading...</div>
        <!-- <div class="no-more-data" *ngIf="totalRecord == productData.length && productData.length > 0">{{ 'No More Data'
          | translate}}</div> -->
        <no-data *ngIf="productData.length == 0" [message]="'No Product Found'"></no-data>

      </div>
      <div class="col-md-3">
        <!--
        <div class="search">
          <custom-label [label]="'search'" [className]="'cart-border'"></custom-label>
          <input-field type="text" bottom="40" placeHolder=""></input-field><span class="icon-search"></span>
        </div>
      -->
        <div class="filter">
          <custom-label [label]="'Filter by price'" [className]="'cart-border'"></custom-label>
          <div class="custom-slider">
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            <div class="filter-range-value">
              <span>Filter:</span>
              <span id="filter-price-value-lower"> ${{minValue}}</span>
              <span> - </span>
              <span id="filter-price-value-upper">${{maxValue}}</span>
              <!-- <btn [text]="'filter'"></btn> -->
            </div>
          </div>
        </div>
        <div class="categories-list" *ngIf="isArray(categoriesData)">
          <custom-label [label]="'categories'" [className]="'cart-border'"></custom-label>
          <categories [data]="categoriesData" (onClick)="onFilter($event, '0')"></categories>
        </div>
        <div *ngIf="categoriesData">
          <div class="categories-list" *ngIf="!isArray(categoriesData) && categoriesData.children.length > 0">
            <custom-label [label]="'categories'" [className]="'cart-border'"></custom-label>
            <categories [data]="categoriesData" (onClick)="onFilter($event, '0')"></categories>
          </div>
        </div>
        <div class="categories-list" *ngIf="manufactureData">
          <custom-label [label]="'manufacture'" [className]="'cart-border'"></custom-label>
          <manufacture [data]="manufactureData"></manufacture>
        </div>
        <div class="shop-color" *ngIf="colorData.length > 0">
          <custom-label [label]="'shop by color'" [className]="'cart-border'"></custom-label>
          <shop-color [data]="colorData"></shop-color>
        </div>
        <div class="shop-size" *ngIf="sizeData.length > 0">
          <custom-label [label]="'shop by size'" [className]="'cart-border'"></custom-label>
          <shop-size [data]="sizeData"></shop-size>
        </div>
        <!--
        <div class="best-seller">
          <custom-label [label]="'best seller'" [className]="'cart-border'"></custom-label>
          <best-seller [data]="sellerData"></best-seller>
        </div>
      -->

      </div>
    </div>
  </div>

</div>