<div class="account">
  <banner [title]="'shipping details'"></banner>
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="container py-70 py-tn-40">
    <div class="row">
      <div class="col-lg-6 ">
        <div class="au-form-body p-r-lg-15 p-r-xl-15">
          <custom-label [label]="'shipping address'" [className]="'cart-border'"></custom-label>
          <fieldset class="m-t-40" class="account-box">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="First Name">
                  </input-field>
                </div>
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="Last Name">
                  </input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input-field type="name" placeHolder="" label="Company Name">
                  </input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <custom-textarea label="Address" name="note" placeHolder=""></custom-textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="Town / City">
                  </input-field>
                </div>
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="State">
                  </input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="Country">
                  </input-field>
                </div>
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="Postal Code">
                  </input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input-field type="text" placeHolder="" label="Phone Number (Optional)" (keypress)="keyPress($event)"
                    minlength=10 maxlength=10>
                  </input-field>
                </div>
                <div class="col-md-6">
                  <input-field type="email" placeHolder="" label="Email (Optional)">
                  </input-field>
                </div>
              </div>
              <!-- <input-field type="password" label="Password" labelAfter="true" [(ngModel)]="user.password"
                name="password" placeHolder="" bottom="25" required #password="ngModel">
                <err-required message="Password is required" [isValid]="password.valid || (password.pristine)">
                </err-required>
              </input-field> -->

              <div class="form-group au-form">
                <btn [text]="'Update Address'"></btn>
                <!-- <div class="m-l-18 m-t-8 m-b-8">

                  <custom-checkbox [label]="'Use as this my billing info & address'"></custom-checkbox>
                </div> -->
                <!-- <div class="form-forgot w-100 m-t-10">
                  <a href="/forgot-password">Lost your password?</a>
                </div> -->
              </div>

            </form>
          </fieldset>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="au-form-body p-r-lg-15 p-r-xl-15">
          <custom-label [label]="'billing address'" [className]="'cart-border'"></custom-label>
          <fieldset class="m-t-40" class="account-box">
            <form #loginForm="ngForm" role="form">
              <div class="row">
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="First Name">
                  </input-field>
                </div>
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="Last Name">
                  </input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input-field type="name" placeHolder="" label="Company Name">
                  </input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <custom-textarea label="Address" name="note" placeHolder=""></custom-textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="Town / City">
                  </input-field>
                </div>
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="State">
                  </input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="Country">
                  </input-field>
                </div>
                <div class="col-md-6">
                  <input-field type="name" placeHolder="" label="Postal Code">
                  </input-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input-field type="text" placeHolder="" label="Phone Number (Optional)" (keypress)="keyPress($event)"
                    minlength=10 maxlength=10>
                  </input-field>
                </div>
                <div class="col-md-6">
                  <input-field type="email" placeHolder="" label="Email (Optional)">
                  </input-field>
                </div>
              </div>
              <!-- <input-field type="password" label="Password" labelAfter="true" [(ngModel)]="user.password"
                  name="password" placeHolder="" bottom="25" required #password="ngModel">
                  <err-required message="Password is required" [isValid]="password.valid || (password.pristine)">
                  </err-required>
                </input-field> -->

              <div class="form-group au-form">
                <btn [text]="'Update Address'"></btn>
                <!-- <div class="form-forgot w-100 m-t-10">
                    <a href="/forgot-password">Lost your password?</a>
                  </div> -->
              </div>

            </form>
          </fieldset>
        </div>
      </div>
    </div>

  </div>
</div>