<ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
<!-- <cart #CartComponent></cart> -->
<slider [slideData]="sliderItems"></slider>
<featured></featured>
<div class="port-title">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="title">{{ 'featured items' | translate}} </h2>
                <p class="title-detail">
                    But I must explain to you how all this mistaken idea of denouncing
                    pleasure and praising pain was born and I will give you a complete
                    account.
                </p>
                <div class="title-border mx-auto m-b-35"></div>
            </div>
        </div>
    </div>
</div>
<div class="port-body">
    <div class="container">
        <div class="grid">
            <div class="grid-filter">
                <ul class="text-center">
                    <li class="active">
                        <span (click)="filterFeaturedItem('')">All</span>
                    </li>
                    <li *ngFor="let cat of categoryData; let i = index">
                        <span (click)="filterFeaturedItem(cat)">{{cat.name}}</span>
                    </li>
                </ul>
            </div>
            <product-grid [Large]="'3'" [productData]="filterData" (onClickCart)="addCart($event)"></product-grid>
        </div>
    </div>
</div>
<latest-news></latest-news>
<newsletter></newsletter>