.no-data {
    border: 2px dashed #eaeaea;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 15px;
    color: #d1d1d1;
    text-align: center;
    margin: 0;
    padding: 25px 10px;
    font-weight: 600;
}