<div class="account">
  <banner [title]="'My Account'"></banner>
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="container py-70 py-tn-40">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="au-form-body p-r-lg-15 p-r-xl-15">
          <custom-label [label]="'Login'" [className]="'cart-border'"></custom-label>
          <fieldset class="m-t-40" class="account-box">
            <form #loginForm="ngForm" role="form">
              <input-field type="text" label="Username or email address" [(ngModel)]="user.username" name="username"
                placeHolder="" labelAfter="true" required #username="ngModel">
                <!-- <err-required message="Valid email required" [isValid]="username.valid || (username.pristine)"></err-required> -->
              </input-field>

              <input-field type="password" label="Password" labelAfter="true" [(ngModel)]="user.password" name="password"
                placeHolder="" bottom="25" required #password="ngModel">
                <err-required message="Password is required" [isValid]="password.valid || (password.pristine)"></err-required>
              </input-field>

              <div class="form-group au-form" (keyup.enter)="onEnterLogin($event)">
                <btn [text]="'Login'" (onClick)="onLogin()" [isDisabled]="!loginForm.form.valid"></btn>
                <div class="m-l-18 m-t-8">
                  <custom-checkbox [label]="'Remember me'"></custom-checkbox>
                </div>

                <div class="form-forgot w-100 m-t-10">
                  <a routerLink="/forgot-password">Lost your password?</a>
                </div>
                <div class="form-forgot w-100 m-t-10">
                  <span>New to shopizer? <a routerLink="/register">{{'Create an account' | translate}}</a></span>
                </div>
              </div>

            </form>
          </fieldset>
        </div>

      </div>
      <!-- <div class="col-lg-6">
        <div class="au-form-body p-r-lg-15 p-r-xl-15">
          <custom-label [label]="'register'" [className]="'cart-border'"></custom-label>
          <fieldset class="m-t-40" class="account-box">
            <form #registerForm="ngForm" role="form">
              <input-field type="email" label="Username or email address" [(ngModel)]="register.username" name="username"
                placeHolder="" labelAfter="true" required #usernameone="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]{2,}[.][a-zA-Z0-9-.]{2,}">
                <err-required message="Valid email required" [isValid]="usernameone.valid || (usernameone.pristine)"></err-required>
              </input-field>

              <input-field type="password" label="Password" labelAfter="true" [(ngModel)]="register.password" name="password"
                placeHolder="" bottom="25" required #passwordone="ngModel">
                <err-required message="Password is required" [isValid]="passwordone.valid || (passwordone.pristine)"></err-required>
              </input-field>
              <btn [text]="'Register'" (onClick)="onRegister()" [isDisabled]="!registerForm.form.valid"></btn>
            </form>
          </fieldset>
        </div>
      </div> -->
    </div>

  </div>
</div>