<div class="account m-t-40">
  <!-- <banner [title]="'register'"></banner> -->
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="container py-70 py-tn-40">
    <div class="row">


      <fieldset class="m-t-40" class="account-box">
        <form #registerForm="ngForm" role="form" novalidate>
          <div class="row">

          <div class="col-lg-6">
            <custom-label [label]="'Login Information'" [className]="'cart-border'"></custom-label>

            <input-field type="text" label="Phone" [(ngModel)]="register.username" name="username"
              placeHolder="" labelAfter="true" required #usernameone="ngModel" minlength=10 maxlength=13>
            </input-field>

            <input-field type="password" label="Password" labelAfter="true" [(ngModel)]="register.password" name="password"
              placeHolder="" bottom="25" required #password="ngModel">
              <err-required message="Password is required" [isValid]="password.valid || (password.pristine)">
              </err-required>
            </input-field>
            <input-field type="password" label="Repeat Password" labelAfter="true" name="confirmPassword" [(ngModel)]="register.confirmPassword"
              placeHolder="" bottom="25" validateEqual="password" #confirmpasswordone="ngModel" required>
              <err-required message="Passwords do not match." [isValid]="confirmpasswordone.valid || (confirmpasswordone.pristine)">
              </err-required>
            </input-field>
            <!-- <btn [text]="'Register'" (onClick)="onRegister()" [isDisabled]="!registerForm.form.valid"></btn> -->

          </div>
            <div class="col-lg-6 ">
              <!-- <div class="col-lg-6 au-form-body p-r-lg-15 p-r-xl-15"> -->
                <!-- <custom-label [label]="'Personal Information'" [className]="'cart-border'"></custom-label> -->
                <fieldset class="m-t-40" class="account-box">
                  <!-- <form> -->

                  <div class="row">
                    <div class="col-md-12">
                      <input-field type="name" placeHolder="" labelAfter="true" label="First Name" [(ngModel)]="billing.firstName"
                        name="firstName" #firstName="ngModel">
                      </input-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <custom-textarea label="Address" labelAfter="true" row="9" name="note" placeHolder=""
                        [(ngModel)]="billing.address" name="address" required #address="ngModel"></custom-textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <input-field type="text" labelAfter="true" bottom="24" placeHolder="City Name" label="State"
                        [(ngModel)]="billing.city" name="city" required>
                      </input-field>
                    </div>
                  </div>
                </fieldset>
              <!-- </div> -->

            </div>
            <!-- <div class="col-lg-6 ">
              <div class="au-form-body p-r-lg-15 p-r-xl-15">
                <custom-label [label]="'Why register?'" [className]="'cart-border'"></custom-label>
                <p>{{'Simplify a checkout process by having your information filed in, re-order an item from one click
                  and get access to premium information.' | translate}}</p>
              </div>
            </div> -->
          </div>
          <div class="button-register">
            <btn [text]="'Create an account'" [isDisabled]="!registerForm.form.valid" (onClick)="onRegister()"></btn>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>