<div class="account">
  <banner [title]="'register'"></banner>
  <ng4-loading-spinner [timeout]="5000"></ng4-loading-spinner>
  <div class="container py-70 py-tn-40">
    <div class="row">


      <fieldset class="m-t-40" class="account-box">
        <form #registerForm="ngForm" role="form" novalidate>
          <div class="col-lg-12">
            <custom-label [label]="'Login Information'" [className]="'cart-border'"></custom-label>

            <input-field type="email" label="Username or email address" [(ngModel)]="register.username" name="username"
              placeHolder="" labelAfter="true" required #usernameone="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]{2,}[.][a-zA-Z0-9-.]{2,}">
              <err-required message="Valid email required" [isValid]="usernameone.valid || (usernameone.pristine)">
              </err-required>
            </input-field>

            <input-field type="password" label="Password" labelAfter="true" [(ngModel)]="register.password" name="password"
              placeHolder="" bottom="25" required #password="ngModel">
              <err-required message="Password is required" [isValid]="password.valid || (password.pristine)">
              </err-required>
            </input-field>
            <input-field type="password" label="Repeat Password" labelAfter="true" name="confirmPassword" [(ngModel)]="register.confirmPassword"
              placeHolder="" bottom="25" validateEqual="password" #confirmpasswordone="ngModel" required>
              <err-required message="Passwords do not match." [isValid]="confirmpasswordone.valid || (confirmpasswordone.pristine)">
              </err-required>
            </input-field>
            <!-- <btn [text]="'Register'" (onClick)="onRegister()" [isDisabled]="!registerForm.form.valid"></btn> -->

          </div>
          <div class="row">
            <div class="col-lg-6 ">
              <div class="au-form-body p-r-lg-15 p-r-xl-15">
                <custom-label [label]="'Personal Information'" [className]="'cart-border'"></custom-label>
                <fieldset class="m-t-40" class="account-box">
                  <!-- <form> -->

                  <div class="row">
                    <div class="col-md-12">
                      <input-field type="name" placeHolder="" labelAfter="true" label="First Name" [(ngModel)]="billing.firstName"
                        name="firstName" required #firstName="ngModel">
                      </input-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <input-field type="name" placeHolder="" labelAfter="true" label="Last Name" [(ngModel)]="billing.lastName"
                        name="lastName" required #lastName="ngModel">
                      </input-field>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-12">
                      <input-field type="name" placeHolder="" label="Company Name" [(ngModel)]="billing.company"
                        name="company">
                      </input-field>
                    </div>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-md-12">
                      <custom-textarea label="Address" labelAfter="true" row="9" name="note" placeHolder=""
                        [(ngModel)]="billing.address" name="address" required #address="ngModel"></custom-textarea>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-md-12">
                      <custom-select label="Country" labelAfter="true" bottom="24" [(ngModel)]="billing.country" name="billing.country"
                        [options]="countryData" required [config]="config" (change)="onCountrySelect($event)">
                      </custom-select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12" *ngIf="stateData.length > 0">
                      <custom-select label="State" labelAfter="true" bottom="24" [(ngModel)]="billing.stateProvince"
                        name="billing.stateProvince" [config]="config" [options]="stateData" required (change)="onStateSelect($event)">
                      </custom-select>
                    </div>
                    <div class="col-md-12" *ngIf="stateData.length == 0">
                      <input-field type="text" labelAfter="true" bottom="24" placeHolder="Enter State" label="State"
                        [(ngModel)]="billing.stateProvince" name="stateProvince" required>
                      </input-field>
                    </div>
                  </div>
                </fieldset>
              </div>

            </div>
            <div class="col-lg-6 ">
              <div class="au-form-body p-r-lg-15 p-r-xl-15">
                <custom-label [label]="'Why register?'" [className]="'cart-border'"></custom-label>
                <p>{{'Simplify a checkout process by having your information filed in, re-order an item from one click
                  and get access to premium information.' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="button-register">
            <btn [text]="'Create an account'" [isDisabled]="!registerForm.form.valid" (onClick)="onRegister()"></btn>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>