.custom-input {
    width: 100%;

    input {
        width: 100%;
        height: 42px;
        border: 1px solid #e5e5e5;
        padding: 0 20px;
        color: #999;
        font-size: 13px;
    }

    .label-after {
        &:after {
            content: '*';
            color: #ff6666;
            margin-left: 5px;
        }
    }
}