<!-- <header> -->
<!-- <div class="settings">
    <span ngbDropdown class="submenu">
        <span id="dropdownBasic1" ngbDropdownToggle>Language</span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a ngbDropdownItem class="" style="border-bottom: 1px solid #e5e5e5;" (click)="onChangeLanguage()">English</a>
            <a ngbDropdownItem (click)="onChangeLanguage()">French</a>
        </div>
    </span>
    <span ngbDropdown class="submenu">
        <span id="dropdownBasic1" ngbDropdownToggle>My Account</span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a routerLink="/account" ngbDropdownItem style="border-bottom: 1px solid #e5e5e5;">Sign In</a>
            <a routerLink="/account" ngbDropdownItem>Register</a>
        </div>
    </span>
    <span class="submenu">
        <a routerLink="/contact" class="contact-us">Contact us</a>
    </span>
</div> -->

<!-- </header> -->

<div [ngClass]="isOpen ? 'shop-cart open' : 'shop-cart'">
    <span ngbDropdown class="submenu">
        <span id="dropdownBasic1" ngbDropdownToggle>{{language}}</span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a ngbDropdownItem class="" (click)="onChangeLanguage('English')">English</a>
            <a ngbDropdownItem (click)="onChangeLanguage('French')">French</a>
        </div>
    </span>
    <li class="border-line"></li>
    <div class="m_nav_item" *ngIf="!userDataFlag">
        <div class="m-nav__link">
            <a routerLink="/account" (click)="menuHide()">{{ 'Sign In' | translate}}</a>
        </div>
        <div class="m-nav__link">
            <a routerLink="/account" (click)="menuHide()">{{ 'Register' | translate}}</a>
        </div>
    </div>
    <div class="m_nav_item" *ngIf="userDataFlag">
        <div class="m-nav__link">
            <a routerLink="/account" (click)="menuHide()">{{ 'Billing & shipping Information' | translate}}</a>
        </div>
        <div class="m-nav__link">
            <a routerLink="/orders" (click)="menuHide()">{{ 'Recent Orders' | translate}} </a>
        </div>
        <div class="m-nav__link">
            <a routerLink="/password" (click)="menuHide()">{{ 'Change Password' | translate}}</a>
        </div>
        <div class="m-nav__link">
            <a herf="javascript::void()" (click)="logout()">{{ 'Logout' | translate}}</a>
        </div>
    </div>
    <li class="border-line">

    </li>
    <div class="m_nav_item1">
        <div class="m-nav__link1">
            <a routerLink="/contact" (click)="menuHide()">{{ 'contact us' | translate}}</a>
        </div>
    </div>

</div>