<div [ngClass]="isOpen ? 'shop-cart open' : 'shop-cart'">
    <div *ngIf="userDataFlag && userData">
        <div class="user-name">
            Welcome {{userData.firstName}} {{userData.lastName}}
        </div>
        <span class="user-email">{{userData.emailAddress}}</span>
    </div>
    <li class="border-line" *ngIf="userDataFlag"></li>
    <div [ngClass]="userDataFlag ? 'm_nav_item' : 'witout_login'">
        <span ngbDropdown class="submenu">
            <span id="dropdownBasic1" ngbDropdownToggle>{{language | translate}}</span>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a ngbDropdownItem class="" (click)="onChangeLanguage('English')">{{ 'English' | translate}}</a>
                <a ngbDropdownItem (click)="onChangeLanguage('French')">{{ 'French' | translate}}</a>
            </div>
        </span>
    </div>
    <li class="border-line"></li>
    <div class="m_nav_item" *ngIf="!userDataFlag">
        <div class="m-nav__link">
            <a routerLink="/account" (click)="menuHide()">{{ 'Sign In' | translate}}</a>
        </div>
        <div class="m-nav__link">
            <a routerLink="/register" (click)="menuHide()">{{ 'Register' | translate}}</a>
        </div>
    </div>
    <div class="m_nav_item" *ngIf="userDataFlag">
        <div class="m-nav__link">
            <a routerLink="/shipping-detail" (click)="menuHide()">{{ 'Billing & shipping Information' | translate}}</a>
        </div>
        <div class="m-nav__link">
            <a routerLink="/orders" (click)="menuHide()">{{ 'Recent Orders' | translate}} </a>
        </div>
        <div class="m-nav__link">
            <a routerLink="/password" (click)="menuHide()">{{ 'Change Password' | translate}}</a>
        </div>
        <div class="m-nav__link">
            <a herf="javascript::void()" (click)="logout()">{{ 'Logout' | translate}}</a>
        </div>
    </div>
    <li class="border-line">

    </li>
    <div class="m_nav_item1">
        <div class="m-nav__link1">
            <a routerLink="/contact" (click)="menuHide()">{{ 'contact us' | translate}}</a>
        </div>
    </div>

</div>