<!-- <header> -->
<div class="settings">
    <span ngbDropdown class="submenu">
        <span id="dropdownBasic1" ngbDropdownToggle>Language</span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a ngbDropdownItem class="" style="border-bottom: 1px solid #e5e5e5;" (click)="onChangeLanguage()">English</a>
            <a ngbDropdownItem (click)="onChangeLanguage()">French</a>
        </div>
    </span>
    <span ngbDropdown class="submenu">
        <span id="dropdownBasic1" ngbDropdownToggle>My Account</span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a routerLink="/account" ngbDropdownItem style="border-bottom: 1px solid #e5e5e5;">Sign In</a>
            <a routerLink="/account" ngbDropdownItem>Register</a>
        </div>
    </span>
    <span class="submenu">
        <a routerLink="/contact" class="contact-us">Contact us</a>
    </span>
</div>

<!-- </header> -->